@model MvcCv.Models.Entity.TblDeneyimlerim

@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>


<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Yeni Deneyim Ekle</h5>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("DeneyimEkle", "Deneyim", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="mb-3">
                    @Html.LabelFor(d => d.Baslik, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Baslik, new { @class = "form-control", placeholder = "Başlık girin" })
                    @Html.ValidationMessageFor(m => m.Baslik, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.AltBaslik, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.AltBaslik, new { @class = "form-control", placeholder = "Altbaşlık girin" })
                    @Html.ValidationMessageFor(m => m.AltBaslik, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.Aciklama, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Aciklama, new { @class = "form-control", placeholder = "Açıklama girin" })
                    @Html.ValidationMessageFor(m => m.Aciklama, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.Tarih, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Tarih, new { @class = "form-control", type = "date", placeholder = "Tarih girin" })
                    @Html.ValidationMessageFor(m => m.Tarih, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(m => m.Logo, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Logo, new { @class = "form-control", placeholder = "Logo" })
                    @Html.ValidationMessageFor(m => m.Logo, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-dark btn-sm">Kaydet</button>
            }
        </div>
    </div>
</div>
